.tanpa-bootstrap{
    border: none;
    padding: 20px;
    font-weight: 800;
    font-size: 3em;
    background-color: brown;
    color: aqua;
    cursor: pointer;
}
.tanpa-bootstrap:hover{
    background-color: blue;
    color: cadetblue;
    transform: rotateY(2);
    transition: all, 3s;
}